{% extends "aiwanke/base.html" %}
{% load static %}
{% block main_content %}
    <div class="container main">
        <div class="post-header">
            <div class="row">
                <div class="col-md-7">
                    <h3 id="gameName" data-id="{{ object.id }}">
                        <a href="{% url 'aiwanke:detail' object.id %}">{{ object.appName }}</a>
                    </h3>
                    <div class="author">
                        {{ object.author_name }}&nbsp;&nbsp;{{ object.category_name }}&nbsp;&nbsp;{{ object.create_time }}
                    </div>
                </div>
                <div class="col-md-5">
                    <ul class="widget-action--ver list-unstyled">
                            <li>
                                <button type="button" id="sideFollow" class="btn btn-success btn-sm"
                                        data-placement="right" data-original-title="关注后将获得更新提醒">关注</button>
                                <strong>0</strong> 关注
                            </li>
                            <li>
                                <button type="button" id="sideBookmark" class="btn btn-default btn-sm" >收藏</button>
                                <strong id="sideBookmarked">0</strong> 收藏，<strong class="no-stress">0</strong> 浏览
                            </li>
                        </ul>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-7">
                    <div id="appScreenTip">
                        <h4>屏幕截图({{ object.screenshots.all|length }}张)</h4>
                        <div class="app_line_border"></div>
                    </div>
                    <div id="covers" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            {% for img in object.screenshots.all %}
                                <li data-target="#covers" data-slide-to="{{ forloop.counter0 }}" class="{% if forloop.first %}active{% endif %}"></li>
                            {% endfor %}
                        </ol>
                        <div class="carousel-inner" role="listbox">
                            {% for img in object.screenshots.all %}
                                <div class="item{% if forloop.first %} active{% endif %}">
                                    <img src="{% get_media_prefix %}{{ img.picture }}" alt="{{ object.appName }}">
                                    {% comment %}<div class="container">
                                        <div class="carousel-caption">
                                            <h1>{{ object.appName }}</h1>
                                            <p>{{ object.desc }}</p>
                                        </div>
                                    </div>{% endcomment %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="app_line_border"></div>
                    <div id="appDescription">
                        <div class="font16">
                            <span class="sr-only">{{ object.appName }}</span>
                            <h4>软件介绍</h4>
                        </div>
                        <div class="font12">
                            {{ object.desc }}
                        </div>
                        <div class="app_line_border"></div>
                    </div>

                </div>
                <div class="col-xs-12 col-md-5"></div>
            </div>
        </div>
    </div>


{% endblock %}